# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Environment Variables
.env

# Logs
*.log

# Database
*.db
*.sqlite3

# Python Build
build/
dist/
*.egg-info/

# Node
node_modules/

# Test Cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/